---
# Quick Code Deployment
# Updates pipeline code on all workers without full provisioning
#
# Usage:
#   ansible-playbook playbooks/deploy-pipeline.yml
#   ansible-playbook playbooks/deploy-pipeline.yml --limit gpu_workers
#   ansible-playbook playbooks/deploy-pipeline.yml -e "pipeline_version=v1.2.3"

- name: Deploy pipeline code
  hosts: gpu_workers:transfer
  become: yes
  vars:
    pipeline_version: main  # Can override with -e "pipeline_version=..."

  tasks:
    - name: Pull latest code
      git:
        repo: "{{ pipeline_repo }}"
        dest: "{{ pipeline_dir }}"
        version: "{{ pipeline_version }}"
        force: yes
      become_user: "{{ app_user }}"
      register: git_result
      tags: [code]

    - name: Install/update Python dependencies
      pip:
        requirements: "{{ pipeline_dir }}/requirements.txt"
        virtualenv: "{{ pipeline_venv }}"
      become_user: "{{ app_user }}"
      when: git_result.changed
      tags: [deps]

    - name: Restart GPU worker (if on GPU host)
      systemd:
        name: gpu-worker
        state: restarted
      when:
        - git_result.changed
        - inventory_hostname in groups['gpu_workers']
      tags: [services]

    - name: Restart unpack worker (if on GPU host)
      systemd:
        name: unpack-worker
        state: restarted
      when:
        - git_result.changed
        - inventory_hostname in groups['gpu_workers']
      tags: [services]

    - name: Restart transfer worker (if on transfer host)
      systemd:
        name: transfer-worker
        state: restarted
      when:
        - git_result.changed
        - inventory_hostname in groups['transfer']
      tags: [services]

    - name: Show deployment result
      debug:
        msg: "Deployed {{ pipeline_version }} to {{ inventory_hostname }} (changed: {{ git_result.changed }})"
      tags: [always]
